name: Custom Workflow
on:
  push:
    branches: [develop]

jobs:
  custom-job:
    runs-on: ubuntu-latest
    steps:
      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
            node-version: "18"
      - name: Install & Test
        working-directory: ./sample-app
        run: npm install && npm test
